/*COMMON*/
body {
    min-width: 360px;
    font-family: 'Inter';
}

img {
    width: 100%;
}

.btn_generic{
    background-color: white;
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 11px;
}

/*HEADER*/
/*top nav*/
.logo img {
    padding-top: 5px;
}

.header_nav {
    padding: 15px 0;
}

header .header_nav .burger {
    font-size: 13px;
}

header .header_nav ul {
    margin: 0;
    padding: 0;
    
}

header .header_nav li {
    display: inline-block;
}

header .header_nav li a {
    color: #031c4e;
    text-decoration: none;
    font-size: 13px;
    padding-left: 15px;
}

header .text-left,
header .text-right {
    list-style: none;
    line-height: 33px;
}

header .btn_generic {
    margin-left: 9px;
}
