/*COMMON*/
body {
    min-width: 360px;
    font-family: 'Inter';
}

.btn_generic{
    background-color: white;
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 11px;
}

.btn_generic:hover{
    background-color :#006aff;
    border: 1px solid #006aff;
    color: white;
    font-size: 11px;
}


/*HEADER*/
/*top nav*/
.logo img {
    padding-top: 5px;
    height: 30px;
}

.header_nav {
    padding: 15px 0;
}

.header_nav nav {
    text-align: right;
}

header .header_nav .burger {
    font-size: 17px;
    color: #2286fd;
    margin-top: 5px;
}

header .header_nav ul {
    margin: 0;
    padding: 0;
}

.header_nav .menu-left{
    padding-top: 7px;
}

.header_nav .menu-right{
    padding-top: 3px;
}

header .header_nav li {
    display: inline-block;
}

header .header_nav li a {
    color: #031c4e;
    text-decoration: none;
    font-size: 13px;
}

/*MAIN*/
/*banner*/
.banner {
    background-image: url('../img/ms-jumbo.jpg');
    background-size: cover;
    padding: 40px 0px 40px 0px;
}

h1 {
    padding-right: 90px;
}

.text_banner h1 {
    font-size: 40px;   
    color: white;
}

.text_banner p { 
    color: white;
}

.banner .text_wrapper{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.text_wrapper h3 {
    font-size: 22px;   
}

.text_wrapper p {
    font-size: 22px;   
    color: #2286fd;
}