/*COMMON*/
body {
    min-width: 360px;
    font-family: 'Inter';
}

.btn_generic{
    background-color: white;
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 11px;
}

.btn_generic:hover{
    background-color :#006aff;
    border: 1px solid #006aff;
    color: white;
    font-size: 11px;
}

h2 {
    color: #031c4e;
}

.white_section {
    padding: 30px 0px 30px 0px;
}

.grey_section {
    background-color: #f3f5f9;
    padding: 30px 0px 30px 0px;
}

.blue_section {
    background-image: linear-gradient(#0047c5, #00209b);
    padding: 30px 0px 50px 0px;
}

.blue_section h2{
    color: white;
}    

/*HEADER*/
/*top nav*/
.logo img {
    padding-top: 5px;
    height: 30px;
}

.header_nav {
    padding: 15px 0;
}

.header_nav nav {
    text-align: right;
}

header .header_nav .burger {
    font-size: 17px;
    color: #2286fd;
    margin-top: 5px;
}

header .header_nav ul {
    margin: 0;
    padding: 0;
}

.header_nav .menu-left{
    padding-top: 7px;
}

.header_nav .menu-right{
    padding-top: 3px;
}

header .header_nav li {
    display: inline-block;
}

header .header_nav li a {
    color: #031c4e;
    text-decoration: none;
    font-size: 13px;
}

/*MAIN*/
/*sezione banner*/
.section_banner {
    background-image: url('../img/ms-jumbo.jpg');
    background-size: cover;
    padding: 45px 0px 45px 0px;
}

h1 {
    padding-right: 90px;
}

.text_banner h1 {
    font-size: 45px;   
    color: white;
}

.text_banner p { 
    font-size: 16px;
    color: white;
}

/*testo wrapper*/
.section_banner .text_wrapper{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.terms_wrapper{
    font-size: 10px;
    padding-top: 7px;
    color: #031c4e;
}

.terms_wrapper a {
    color: #006aff;
}

.text_wrapper h3 {
    font-size: 22px;   
}

.text-start p {
    font-size: 22px;   
    color: #2286fd;
}

.button-account button {
    background-color: #006aff;
    border: #006aff;
}

.icon-google button{
    margin-top: 10px;
}

.icon-google img{
    height: 15px;
}

/*sezione loghi*/
.section_logo {
    background-color: #f3f5f9;
    padding-bottom: 20px;
}

.section_logo h4 {
    font-size: 13px;
    padding: 30px 0px 10px 0px ;
    color: #707c97;
}

.section_logo img {
    width: 100%;
    height: 60px;
}

.box-img {
    margin-bottom: 10px;
}

.link a {
    color: #006aff;
    font-size: 12px;
    margin-bottom: 20px;
} 

/*sezione configuration process/ WHITE*/
.section_intro p {
    color: #707c97;
    padding-bottom: 35px;
}

.small-wrapper {
    max-width: 70%;
    margin: auto;
}

.configuration_list {
    list-style-type: none;
}

.configuration_list li {
    padding: 8px 0;
}

.configuration_list a {
    color: #707c97;
}

.configuration_list {
    border-left: 1px solid lightgray;
    padding-left: 10px;   
}

.col_wrapper h5 {
    color: #031c4e;
}

.col_wrapper p {
    color: #707c97;
    font-size: 12px;
    padding-bottom: 11px;
}

.col_wrapper img {
    height: 28px;
}

/*sezione designed developer/ GREY*/
.section_developer img {
    width: 50%;
}

.section_developer .image {
    position: relative;
}

.section_developer .angle_left {
    position: absolute;
    color: #707c97;
    font-size: 35px;
    top: 50%;
    left: 21%;
    transform: translate(0, -50%);
}

.angle_left:hover {
    position: absolute;
    color: #031c4e;
    font-size: 35px;
    top: 50%;
    left: 21%;
    transform: translate(0, -50%);
}

.section_developer .angle_right {
    position: absolute;
    color: #031c4e;
    font-size: 35px;
    top: 50%;
    left: 77%;
    transform: translate(0, -50%);
}

.text_bottom p{
    font-size: 11px;
    padding-top: 15px;
    color: #031c4e;
    margin: 0;
}

.section_developer ul {
    padding: 0;
}

.circle li {
    display: inline-block;
    text-decoration: none;
}

.circle a{
    color: #006aff;
    font-size: 10px;
}

/*sezione features/ WHITE*/
.section_features h2 {
    padding-bottom: 15px;
}

.section_features p {
    margin-bottom: 0;
}


.section_features .col_wrapper {
    margin-bottom: 20px;
}

.box_list {
    color: white;
    font-size: 11px;
}

.regions_list {
    border-bottom: 1px solid white;
    padding: 10px;
}

.box_list .link a {
    color: aqua;
    font-size: 11px;
}

/*sezione team/ GREY*/
.section_team .text_wrapper{
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 15px 50px 15px;
    margin: auto;
}

.section_team .text_wrapper {
    width: 50%;
}

.section_team h2{
    padding-bottom: 60px;
}

.section_team ul {
    padding: 0;
}

.section_team .text_wrapper {
    position: relative;
    margin-bottom: 20px;
}

.section_team  .angle_left {
    position: absolute;
    color: #707c97;
    font-size: 35px;
    top: 50%;
    left: 21%;
    transform: translate(0, -50%);
}

.section_team  .angle_left:hover {
    position: absolute;
    color: #031c4e;
    font-size: 35px;
    top: 50%;
    left: 21%;
    transform: translate(0, -50%);
}

.section_team .angle_right {
    position: absolute;
    color: #031c4e;
    font-size: 35px;
    top: 50%;
    left: 77%;
    transform: translate(0, -50%);
}

.section_team img {
    width: 50%;
}

.section_team p {
    color: #707c97;
    padding-top: 15px;
}

.section_team h6 {
    color: #031c4e;
}
